<div class="well observation">
  <div class="row">
    <div class="col-sm-6">
      <p class="main"><%= @observation.price_index %></statistic>
      <p class="attributes text-center">
        <span data-toggle="tooltip" title="Limited coverage means that ..." class="label label-danger">limited coverage</span>
        <span data-toggle="tooltip" title="Provisional means that ..." class="label label-warning">provisional</span>
      </p>
    </div>
    <div class="col-sm-3">
      <div>
        <a href="obs-mc6a-2013nov.html">
          <h3>previous month</h3>
          <p class="comparison">
            111.6 <span class="glyphicon glyphicon-arrow-down"></span> <small>-0.1</small>
          </p>
        </a>
      </div>
      <div>
        <a href="obs-mc6a-2012dec.html">
          <h3>previous year</h3>
          <p class="comparison">
            110.9 <span class="glyphicon glyphicon-arrow-up"></span> <small>+0.6</small>
          </p>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <a href="obs-mc6a-2014jan.html">
          <h3>next month</h3>
          <p class="comparison">
            111.4 <span class="glyphicon glyphicon-arrow-down"></span> <small>-0.1</small>
          </p>
        </a>
      </div>
      <div>
        <h3>next year</h3>
        <p class="comparison comparison-unavailable">
          not available
        </p>
      </div>
    </div>
  </div>
</div>
