<% content_for :title do %>
  Web Integrated Statistics Prototype
<% end %>

<div class="container">
  <h1>Web Integrated Statistics Prototype</h1>
  
  <p>
  The following links provide some starting points for navigating the prototype
  </p>

  <h2>Slices</h2>
  
  <p>TODO</p>
  
  <h2>Observations</h2>
  
  <ul>
    <li><a href="/series/producer-price-index/releases/2014-02-18/datasets/ppi-csdb-ds/observations/mc6a-2013dec">an observation</a> from the most recent release of the PPI</li>
    <li><a href="/series/producer-price-index/releases/2014-02-18/datasets/input12mthchange/observations/obs-input12mthchange-k655-2014jan">an observation from a reference table</a> associated with that release</li>
  </ul>
  
</div>
